 /* common shares styles */

 body {
     font-family: 'Open Sans', sans-serif;
 }

 .btn-primary {
     border-radius: 5px;
     background: #FD6E0A;
     border: 0;
     font-size: 20px;
     font-weight: 700;
     color: white;
     padding: 15px 35px;

 }

 /* nav related styles */

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
 }

 .nav-title {
     color: var(--Dark-01, #181818);
     font-family: Open Sans;
     font-size: 45px;
     font-weight: 800;
 }

 .rcolor {
     color: #FD6E0A;
 }

 nav>ul {
     display: flex;
     align-items: center;
 }

 ul li {
     list-style: none;
     margin-right: 50px;
 }

 nav a {
     text-decoration: none;
     color: #474747;
 }

 /* header related styles */
 .header {
     background-color: #FFF8F3;
     background-image: url(../images/header_bg.png), url('../images/developer.png'); 
     background-repeat: no-repeat;
     background-position: bottom right, top left;
 }

 .banner {
     padding: 50px 30px 0 150px;
 }

 .banner {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .banner-content {
     max-width: 585px;
 }

 .banner .profile-pic {
     width: 500px;
 }

 .banner-greeting {
     font-size: 45px;
     color: #474747;
     margin-bottom: 0
 }

 .banner-title {
     font-size: 85px;
     font-style: normal;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 20px;
 }

 .banner-description {
     color: #757575;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-bottom: 30px;
 }


 /* main section styles */
 main {
     max-width: 1140px;
     margin: auto;
 }

 main section {
     margin-top: 130px;
 }

 /* About section styles */

 .about {
     margin: 130px 0;
     padding: 130px;
     border-radius: 10px;
     background: #FFF8F3;
 }

 .section-title {
     color: var(#181818);
     text-align: center;
     font-family: Open Sans;
     font-size: 35px;
     font-weight: 700;

 }

 .section-description {
     color: #757575);
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
 }

 .about-info-container {
     display: flex;
     justify-content: space-around;
 }

 .about-info {
     text-align: center;
     li
 }

 .info-title {
     color: var(#757575);
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
 }

 .info-description {
     color: var (#474747);
     font-size: 20px;
     font-weight: 700;
     line-height: 30px;
 }

 /* skills related styles */

 #what-i-do-description {
     padding: 30px 150px;
 }

 .skill-container {
     display: flex;
     gap: 24px;
 }

 .skill {
     padding: 30px;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     color: #757575);
 }

 /* Resume colum style  */

 .resume-colum-title {
     color: #474747);
     font-size: 30px;
     font-weight: 700;
     margin-bottom: 30px;

 }

 .resume-colum {
     display: flex;
     gap: 70px;
 }

 .resume-item-description {
     color: #757575;
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
 }

 .resume-item-title {
     color:  #474747;
     font-size: 25px;
     font-weight: 700;  
     margin-bottom: 5px;
 }
.resume-title-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}
hr{
    margin: 30px;
}
.download-cv{
    margin-top: 50px;
    text-align: center;
}

/* footer style  */

footer{
    margin-top: 100px;
    gap: 100px;
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
}
.footer-colum{
    width: 50%;
}

.social-links a{
    margin-right: 25px;
}
.input-contact{
    display:block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color:  #757575;
    border-radius: 5px;
    background: #FFF;
    border:0;
    width: 100%;
}
